
        body {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-rows: 100px 1fr 100px;
            grid-template-columns: 200px 1fr;
            height: 100vh;
            gap: 10px;
        }

        .header {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: span 2;
        }

        .sidebar {
            background-color: green;
            color: white;
            padding: 20px;
        }

        .section {
            background-color: orange;
            color: black;
            padding: 20px;
        }

        .footer {
            
            background-color: blue;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: span 2;
        }
    